.note-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--note-bg-color);
    clip-path: path("M0.688477 25C0.688477 11.7452 11.4336 1 24.6885 1H176.688C191.048 1 202.688 12.6406 202.688 27C202.688 41.3594 214.329 53 228.688 53C243.048 53 254.688 64.6406 254.688 79V297C254.688 310.255 243.943 321 230.688 321H126.688C112.329 321 100.688 309.359 100.688 295C100.688 280.641 89.0479 269 74.6885 269H32.6885C15.0154 269 0.688477 254.673 0.688477 237V25Z");
}